<ion-view view-title="Game">



  <div class="list bar-subheader">

    <div class="item item-divider" style="border-width: 0px; height: 40px;">

      <small>{{ currentRound() }}</small>
      <span class="item-note {{currentTeam().class}}">{{ currentTeam().name }} Team</span>
    </div>
              <div style="background-color: blue">
      <div style="width: {{100 - timePercent()}}%; height: 4px; background-color: lightblue" class="right"></div>
    </div>
  </div>

  <ion-content class="has-bottom has-subheader">
    <div style="text-align: center">
        <h1 style="margin-top: 40px; margin-left: 20px; margin-right: 20px;" ng-style="{ display: displayName ? '' : 'none'}">{{ currentCard().text }}</h1>
    </div>
  </ion-content>

  <div class="row fixed-outside">
    <div class="col">
          <button class="button button-block button-assertive icon ion-close" style="margin: 0px" ng-click="foul()"> Foul</button>
        </div>
        <div class="col">
          <button class="button button-block button-energized icon ion-forward" ng-class="{'disabled' : unSkippable()}" style="margin: 0px" ng-click="skip()"> Skip</button>
        </div>
        <div class="col">
            <button class="button button-block button-balanced icon ion-checkmark" style="margin: 0px" ng-click="got()"> Got it</button>
        </div>
  </div>

</ion-view>
